<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/backend.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Title</title>
</head>
<body>

    <nav>
        
        <div class="left">
            <i class="material-icons" style="font-size:48px">arrow_back</i>
        </div>

        <div class="right">
            <div class="right-center">
                <p>Choose your Preference</p>
            </div>
        </div>

    </nav>

    <div class="container">

        <div class="row">
            <div class="row-center">
                <img id="back-end" src="../static/imgs/csharp.svg" alt="apple-logo">    
            </div>
            <div class="row-center">
                <p>C#</p>
            </div>
        </div>

        <div class="row">
            <div class="row-center">
                <img src="../static/imgs/Unofficial_JavaScript_logo_2.svg" alt="android-logo">    
            </div>
            <div class="row-center">
                <p>JavaScript</p>
            </div>
        </div>

        <div class="row">
            <div class="row-center">
                <img src="../static/imgs/python-seeklogo.com.svg" alt="android-logo">    
            </div>
            <div class="row-center">
                <p>JavaScript</p>
            </div>
        </div>

        <div class="row">
            <div class="row-center">
                <img src="../static/imgs/Go-Logo_Aqua.svg" alt="android-logo">    
            </div>
            <div class="row-center">
                <p>JavaScript</p>
            </div>
        </div>

    </div>

    <br>
    <br>

    <div class="container">

        <div class="row">
            <div class="row-center">
                <img id="java" src="../static/imgs/java-ar21.svg" alt="apple-logo">    
            </div>
            <div class="row-center">
                <p>Java</p>
            </div>
        </div>

        <div class="row">
            <div class="row-center">
                <img src="../static/imgs/php.svg" alt="android-logo">    
            </div>
            <div class="row-center">
                <p>PHP</p>
            </div>
        </div>

        <div class="row">
            <div class="row-center">
                <img src="../static/imgs/Rust.svg" alt="android-logo">    
            </div>
            <div class="row-center">
                <p>Rust</p>
            </div>
        </div>

    </div>

</body>
</html>