<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nc.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Title</title>
</head>
<body>

    <nav>
        
        <div class="left">
            <a href="./app_web.html"><i class="material-icons" style="font-size:48px">arrow_back</i></a>
        </div>

        <div class="right">
            <div class="right-center">
                <p>Choose your Preference</p>
            </div>
        </div>

    </nav>

    <div class="container">

        <div class="row">
            <!-- <div class="row-center">
                <img id="apple-logo" src="./imgs/apple-logo-png-dallas-shootings-don-add-are-speech-zones-used-4.png" alt="apple-logo">    
            </div> -->
            <div class="row-center">
                <a href="./native.html"><p>Native</p></a>
            </div>
        </div>

        <div class="row">
            <!-- <div class="row-center">
                <img id="android" src="./imgs/android-logo-0.png" alt="android-logo">    
            </div> -->
            <div class="row-center">
                <a href="./crossplatform.html"><p>Cross Platform</p></a>
            </div>
        </div>

    </div>
</body>
</html>